@import 'tailwindcss';

/* noinspection CssInvalidAtRule */
@custom-variant dark (&:where(.dark, .dark *));

/* noinspection CssInvalidAtRule */
@theme {
  --color-accent-primary: #f25c19;
  --color-accent-secondary: #a65e2e;
  --color-background-gray: #40332c;
  --color-background-white-gray: #f8fafc;
  --color-accent-hover: rgba(96, 165, 250, 0.5);
  --color-primary-hover: rgba(9, 9, 11, 0.05);
  --color-text: #111827;
  --color-text-secondary: #374151;
  --color-text-bright: #e5e7eb;
}

@layer theme {
  :root,
  :host {
    /* noinspection CssInvalidAtRule */
    @variant dark {
      --color-accent-primary: #ff6600;
      --color-accent-secondary: #a65e2e;
      --color-background-gray: #3a2e28;
      --color-background-white-gray: #f8fafc;
      --color-accent-hover: rgba(96, 165, 250, 0.5);
      --color-primary-hover: rgba(9, 9, 11, 0.05);
      --color-text: #111827;
      --color-text-secondary: #374151;
      --color-text-bright: #e5e7eb;
    }
  }
}

@plugin "tailwind-scrollbar";
