@import 'tailwindcss';

/* noinspection CssInvalidAtRule */
@custom-variant dark (&:where(.dark, .dark *));

/* noinspection CssInvalidAtRule */
@theme {
  --color-accent-primary: #f25c19;
  --color-accent-secondary: #a65e2e;
  --color-background-gray: #40332c;
  --color-background-white-gray: #f8fafc;
  --color-background-white: #ffffff;
  --color-accent-hover: rgba(96, 165, 250, 0.5);
  --color-primary-hover: rgba(9, 9, 11, 0.05);
  --color-text-900: #111827;
  --color-text-800: #1f2937;
  --color-text-700: #374151;
  --color-text-600: #4b5563;
  --color-text-500: #6b7280;
  --color-text-400: #9ca3af;
  --color-text-300: #d1d5db;
  --color-text-200: #e5e7eb;
  --color-text-100: #f3f4f6;
  --color-text-50: #f9faffb;
}

@layer theme {
  :root,
  :host {
    /* noinspection CssInvalidAtRule */
    @variant dark {
      --color-accent-primary: #ff6600;
      --color-accent-secondary: #a65e2e;
      --color-background-gray: #3a2e28;
      --color-background-white-gray: #f8fafc;
      --color-background-white: #ffffff;
      --color-accent-hover: rgba(96, 165, 250, 0.5);
      --color-primary-hover: rgba(9, 9, 11, 0.05);
      --color-text-900: #111827;
      --color-text-800: #1f2937;
      --color-text-700: #374151;
      --color-text-600: #4b5563;
      --color-text-500: #6b7280;
      --color-text-400: #9ca3af;
      --color-text-300: #d1d5db;
      --color-text-200: #e5e7eb;
      --color-text-100: #f3f4f6;
      --color-text-50: #f9fafb;
    }
  }
}

@plugin "tailwind-scrollbar";
